@mixin mar0pad0{
    margin: 0;
    padding: 0;
}

@mixin ancho-alto($ancho, $alto){
    width: $ancho;
    height: $alto;
}

* {
    @include mar0pad0;
    box-sizing: border-box;
    list-style: none;
}

/* $grad-fondo-1: rgba(2,0,36,1);
$grad-fondo-2: rgba(9,9,121,1);
$grad-fondo-3: rgba(56,110,184,1) ;
$grad-fondo-4: rgba(97,52,159,1); */
$grad-fondo-1: rgba(2,0,36,1);
$grad-fondo-2: rgb(25, 25, 133);
$grad-fondo-3: rgb(118, 175, 255) ;
$grad-fondo-4: rgb(155, 83, 255);
$gris-blur: rgba(0, 0, 0, 0.253);

:root {
    font-size: 16px;
}
p{
    font-family: 'Jost', sans-serif;
    color: aliceblue;
}
body {
    @include mar0pad0;
}

main {
    margin-left: 8rem;
}
@media (max-width: 600px){
    main {
        margin-left: 0rem;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Jost', sans-serif;
    color: aliceblue;
}
/*fondo*/
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, $grad-fondo-1 0%, $grad-fondo-2 22%, $grad-fondo-3 68%, $grad-fondo-4 100%);
    background-size: 300% 300%;
    animation: gradiente_anim 12s ease-in-out infinite;
    background-attachment: fixed;
}
/*navbar*/
.nav-item {
    width: 100%;

    &:last-child {
        margin-top: auto;
    }
}
.logo{
    margin-top: 2vh;
    transform: scale(0.5);
    transition: 600ms ease;
}

.nav-link {
    
    display: flex;
    align-items: center;
    text-decoration: none;
    
    height: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Jost', sans-serif;
    opacity: 0.4;
    transition: opacity 1s ease-out;
    justify-content: space-around; //horizontal
    
    &:hover {

        background-color: rgba(0, 0, 0, 0);
        opacity: 1;

    }
}

.link-text {
    display: none;
    margin-left: 1rem;

}
.flecha{
    transform: rotate(0deg);
    transition: 600ms ease;
}
.navbar {

    position: fixed;
    text-decoration: none;
    transition: width 600ms ease;
    background-color: $gris-blur;
    backdrop-filter: blur(4px);
    z-index: 5;
    &-nav {
        list-style: none;
        @include mar0pad0;
        display: flex;
        flex-direction: column;
        align-items: center;
      /*   height: 95%; */
    }
}
//DESKTOP

@media (min-width: 600px) {
    .nav-link{
        margin-top: 4vh;
        
    }
    .navbar{
        
        top: 0;
        @include ancho-alto(8rem, 100%);
        &:hover {
            width: 15rem;
            
            .link-text {
                display: block;
            }
            .flecha{
                opacity: 1;
                transform: rotate(180deg);
            }
            .logo{
                transform: scale(1);
            }
        }
    }
}


// MOBILE
@media (max-width: 600px) {
    .navbar{
        z-index: 1;
        bottom: 0;
        @include ancho-alto(100%, 4rem);
        .logo{
            display: none;
        }
   /*      .flecha{
            display: none;
        } */
        &-nav{
            flex-direction: row;
            padding-bottom: 50px;
            
        }
    }
}